<div class="container">
    <main>
        <h2>¡Bienvenido a TaskBuddy!</h2>
        <p>Gestiona tus tareas de manera eficiente, asigna personas y mantén todo bajo control.</p>
        <div class="icon-container">
            <div class="icon-card">
                <mat-icon class="icono">check_circle</mat-icon>
                <p><strong>Completadas</strong></p>
            </div>
            <div class="icon-card">
                <mat-icon class="icono">hourglass_empty</mat-icon>
                <p><strong>Pendientes</strong></p>
            </div>
            <div class="icon-card">
                <mat-icon class="icono">people</mat-icon>
                <p><strong>Personas</strong></p>
            </div>
            <div class="icon-card">
                <mat-icon class="icono">star</mat-icon>
                <p><strong>Habilidades</strong></p>
            </div>
        </div>
        <button mat-button (click)="irAListaTareas()"><strong>Ver lista de tareas</strong></button>
    </main>

    <footer>
        <p>© 2024 TaskBuddy. Todos los derechos reservados.</p>
    </footer>
</div>