/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
    margin: 0;
}
  
.container {
display: flex;
flex-direction: column;
min-height: 100vh; // Hace que la vista cubra el 100% de la altura de la ventana

    header {
        // background-color: #007bff;
        // color: white;
        padding: 10px;
        text-align: center;
    }

    main {
        flex: 1; // El contenido principal ocupa todo el espacio disponible
        padding: 20px;
    }

    footer {
        background-color: #f8f9fa;
        text-align: center;
        padding: 10px;
        border-top: 1px solid #dee2e6;
    }
}  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }